$maxMobile:"(max-width:767px)";
$minSmall:"(min-width:768px)";
$minMedium:"(min-width:992px)";
$minLarge:"(min-width:1200px)";
$color-primary : #00284B ;
$color-sec : #DFB448 ;
$color-content : #F2F9FF ;
$color-white : #fff ;
$text-right:right;
$text-center:center;
$font-primary : Droid Arabic Kufi;
