/******************************************FATAWI PAGE*******************************************/
.left-side{
    margin-bottom:70px;
    .more-seen{
        color:#000;
        padding:30px 10px;
        background-color: #fff;
        .table-title{
            background-image: linear-gradient(#29B3BA, #46EEAA);
            border-radius: 5rem;
            color: white;
            font-weight: 200;
            padding: 0.6rem;
            margin:10px 0px 30px;
            text-align: center;
            &:hover {
                filter: brightness(110%);
            }

        }
        li{
            padding:10px 0px;
            h5{
                line-height:1.6;
                font-size:1.25rem;
                font-weight: 500;
            }
        }
        .seen{
            font-size:15px;
            background-image: linear-gradient(#29B3BA, #46EEAA);
            padding: 2px 6px;
            min-width: 50px;
            display: block;
            float: left;
            margin: 0 10px;
            text-align: center;
            color:#fff;
            font-weight: 300;
            
        }
    }
}
.fatwa-block {
                border-top:1px solid;
                position:relative;
                background-color: #fff;
                padding: 1.1rem;
                .fatwa-content p{
                    line-height:1.5;
                    font-size:1.2rem;
                    }

                & .fatwa-content:not(:last-of-type) {
                    border-bottom: 0.5px solid rgba(41, 179, 186, 0.513);
                    padding-bottom: 1rem;
                }





                .fatwa-heading {


                    text-decoration: none;


                    &:hover {
                        filter: brightness(110%);
                    }

                    .fatwa-h-icon {
                        width: 1.5rem;
                        color: #46EEAA;
                        fill: currentColor;

                    }

                    h1 {
                        text-align: right;
                        color: #46EEAA;
                        font-size: 1.6rem;
                        margin: 1rem !important;
                    }
                }

                .fatwa-text {
                    padding: 0 2rem;
                    text-align: right;
                    color: black;
                }
            }