/******************************************Videos PAGE*******************************************/
/*Start SOUNDS Content*/
.vidio{
    .container-swiper{
        overflow: hidden;
        .table-title.main-btn{float: left;}
    }
    .vedio{
    margin: 20px 0px;
    .video-title{
        color: white;
        background-color: #00284B;
        text-align: right;
        padding: 1rem;
        margin: 0;
        font-weight: 300;
        font-size:1.5rem;}
        p{
        color: #00284b;
        font-size: 1.4rem;
        padding: 20px 10px;
        background-color: #fff;
        font-weight: 500;
        box-shadow:  0px 2px 10px #ccc;
       
        }
        }
    .sec-head{
       margin-bottom:-50px;
        &:not(:first-of-type){ margin-top: 80px;}
    }
    /*Start SWIPER*/
        .main-span{padding-left:100px;margin-bottom: 35px;}
        .swiper-container{width: 100%; height: 100%;}
        .swiper-wrapper{margin-top:50px;padding-bottom:70px;}
        .swiper-slide{cursor:grab;}
        .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom:0;}
        .swiper-pagination-bullet{width: 13px;height:13px;border-radius:50%;border:2px solid #00284B;background-color:#DFB448; }
        .swiper-pagination-bullet-active{background: #00284B; }
        /*End SWIPER*/
    
}

/*END SOUNDS Content*/

